@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  padding: auto;
}


/* font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Jost', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif; */