@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-purple: rgba(22, 12, 40, 1);
$orange-yellow-crayola: rgba(239, 203, 104, 1);
$honeydew: rgba(225, 239, 230, 1);
$ash-gray: rgba(174, 183, 179, 1);
$rich-black-fogra-29: rgba(0, 4, 17, 1);

$fire-opal: rgba(235, 94, 85, 1);
$black-coffee: rgba(58, 51, 53, 1);
$ruby: rgba(216, 30, 91, 1);
$papaya-whip: rgba(253, 240, 213, 1);
$opal: rgba(198, 216, 211, 1);

$smoky-black: rgba(22, 15, 10, 1);
$light-salmon: rgba(254, 166, 128, 1);
$sizzling-sunrise: rgba(255, 221, 62, 1);
$light-yellow: rgba(250, 250, 216, 1);
$light-sea-green: rgba(7, 173, 171, 1);

$pear: rgba(217, 221, 56, 1);
$liberty: rgba(89, 95, 171, 1);
$frostbite: rgba(224, 46, 158, 1);
$cultured: rgba(237, 240, 241, 1);
$usafa-blue: rgba(2, 84, 139, 1);
$quick-silver: rgba(168, 168, 165, 1);

// $pear: #D9DD38ff;
// $liberty: #595FABff;
// $frostbite: #E02E9Eff;
// $cultured: #EDF0F1ff;
// $usafa-blue: #02548Bff;
// $quick-silver: #A8A8A5ff;
html {
    background: $usafa-blue;
}

.App {
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: $usafa-blue;
    color: $cultured;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: $pear;
}

h3 {
    color: $pear;
}

// font-family: 'Abril Fatface', cursive;
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Fredoka One', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Josefin Slab', serif;
// font-family: 'Jost', sans-serif;
// font-family: 'Outfit', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Quicksand', sans-serif; 